body{
    background-color: black;
    background-image: url(../img-pelu/125662980-peines-tijeras-y-herramientas-de-peluquería-en-la-mesa-de-trabajo-del-salón-de-belleza-en-el-patrón-.webp);
    main{
        h1{
            color: white;
            font-size: 50px;
            p{
                color: white;
                font-size: 25px;
            }
        }
    }
}
